@charset "utf-8";
/* CSS Document */
body{
	margin: 0;
	padding: 0;
	background: #252525;
}
/*imagenes*/
@media screen and (max-width: 600px) {
*,*:before,*:after {box-sizing:inherit;margin:0; padding:0; border:0 none; position: relative;}

	html {
	background: #000;
	box-sizing:border-box;
	color: #000;
}


	body > article {
		display: flex;
		flex-wrap: wrap;
	}
	figure {
		background: #eee;
		width: calc( 50% + 1px);
		height: 100vh;
		position: sticky;
		top: 0;
		overflow: hidden;
		box-shadow: 4px -4px 8px rgba(0,0,0,.4);
			}
	figure::after {
		content: '';
		position: absolute;
		top: 5vmin;
		right: 5vmin;
		bottom: 5vmin;
		left: 45%;

			}
	figure:nth-of-type(2n)::after {
		right: 45%;
		left: 5vmin;
	}
	section {
		background: #2D2151;
		width: calc(50% + 1px);
		height: 100vh;
		margin: 0 0 10vh auto;
		position: sticky;
		top: 0;
		overflow: hidden;
		padding: 5vmin;
		box-shadow: -4px -4px 8px rgba(0,0,0,.4);
			}
	figure:nth-of-type(1),
	section:nth-of-type(1) {
		margin: 0 0 10vh 0;
		width: 50%;
			}
	figure:nth-of-type(2n) {
		margin: 0 0 10vh auto;
		box-shadow: -4px -4px 8px rgba(0,0,0,.4);
			}
	section:nth-of-type(2n) {
		margin: 0 auto 10vh 0;
		box-shadow: 4px -4px 8px rgba(0,0,0,.4);
		}
	figure:last-of-type,
	section:last-of-type {
		margin-bottom: 0;
	}
	section::before {
		background: inherit;
		z-index: 1;
		content: '';
		position: absolute;
		top: 50%;
		left:0;
		width: 5vmin;
		height: 5vmin;
		transform: translate(calc(-50% + 1px), -50%) rotate(-45deg);
		clip-path: polygon(-15% -15%, 110% 0%, 0% 110%);
		box-shadow: -4px -2px 8px rgba(0,0,0,.4);
		border-radius: 1.5vmin 0 0 0;
	}
	section:nth-of-type(2n)::before {
		left:auto;
		right: 0;
		transform: translate(calc(50% - 1px), -50%) rotate(-45deg) scale(-1);
	}
	section::after {
		content: '';
		position: absolute;
		top: 5vmin;
		right: 45%;
		bottom: 5vmin;
		left: 5vmin;
	}
	section:nth-of-type(2n):after {
		right: 5vmin;
		left: 45%;
	}
	figure img {
		max-width: 100%;
		max-height: 100%;
		object-fit:scale-down;
		object-position: center;
		background-color: #FFFFFF;
	}
	section > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		padding: 1rem;
	}
	h1,
	h2 {
    font-size: calc(5vmin + 3vmax);
    text-align: center;
    color: #FFFFFF;
    margin-top: 300px;
	}
	p {
    text-align: right;
    width: 100%;
    font-size: calc(1.5vmin + 1.75vmax);
    margin-bottom: 365px;
    color: #FFFFFF;
	}
	a {
		color: transparent;
		-webkit-text-stroke: 2px #212121;
		text-decoration: none;
    font-weight: 900;
    letter-spacing: 2px;
	}
	a:hover, a:focus {	
		-webkit-text-stroke: 1px #999;
	}

/*menu*/
body
{
  margin: 0;
  padding: 0;
  color: #232323;	
}

a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

a:hover
{
  color: #55008d;
  font-weight: 600;
}

#menuToggle1
{
  display: block;
  position: fixed;
  top: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle1 input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: 85vw;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
  -webkit-touch-callout: none;
}
#menuToggle1 span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  left: 85vw;
  background: #FFFFFF;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle1 span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle1 span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle1 input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

#menuToggle1 input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle1 input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu2
{
  position: absolute;
  width: 100vw;
  height: 110vh;
  margin: -100px 0 0 0px;
  padding: 50px;
  padding-top: 400px;
  text-align:center;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(0, -100%);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu2 li
{
  padding: 10px 0;
  font-size: 30px;
  
}

#menuToggle1 input:checked ~ ul
{
  transform: none;
}
}
@media screen and (min-width: 600px) {
*,*:before,*:after {box-sizing:inherit;margin:0; padding:0; border:0 none; position: relative;}

	html {
	background: #000;
	box-sizing:border-box;
	color: #000;
}


	body > article {
		display: flex;
		flex-wrap: wrap;
	}
	figure {
		background: #eee;
		width: calc( 50% + 1px);
		height: 100vh;
		position: sticky;
		top: 0;
		overflow: hidden;
		box-shadow: 4px -4px 8px rgba(0,0,0,.4);
			}
	figure::after {
		content: '';
		position: absolute;
		top: 5vmin;
		right: 5vmin;
		bottom: 5vmin;
		left: 45%;

			}
	figure:nth-of-type(2n)::after {
		right: 45%;
		left: 5vmin;
	}
	section {
		background: #2D2151;
		width: calc(50% + 1px);
		height: 100vh;
		margin: 0 0 10vh auto;
		position: sticky;
		top: 0;
		overflow: hidden;
		padding: 5vmin;
		box-shadow: -4px -4px 8px rgba(0,0,0,.4);
			}
	figure:nth-of-type(1),
	section:nth-of-type(1) {
		margin: 0 0 10vh 0;
		width: 50%;
			}
	figure:nth-of-type(2n) {
		margin: 0 0 10vh auto;
		box-shadow: -4px -4px 8px rgba(0,0,0,.4);
			}
	section:nth-of-type(2n) {
		margin: 0 auto 10vh 0;
		box-shadow: 4px -4px 8px rgba(0,0,0,.4);
		}
	figure:last-of-type,
	section:last-of-type {
		margin-bottom: 0;
	}
	section::before {
		background: inherit;
		z-index: 1;
		content: '';
		position: absolute;
		top: 50%;
		left:0;
		width: 7vmin;
		height: 7vmin;
		transform: translate(calc(-50% + 1px), -50%) rotate(-45deg);
		clip-path: polygon(-15% -15%, 110% 0%, 0% 110%);
		box-shadow: -4px -2px 8px rgba(0,0,0,.4);
		border-radius: 1.5vmin 0 0 0;
	}
	section:nth-of-type(2n)::before {
		left:auto;
		right: 0;
		transform: translate(calc(50% - 1px), -50%) rotate(-45deg) scale(-1);
	}
	section::after {
		content: '';
		position: absolute;
		top: 5vmin;
		right: 45%;
		bottom: 5vmin;
		left: 5vmin;
	}
	section:nth-of-type(2n):after {
		right: 5vmin;
		left: 45%;
	}
	figure img {
		min-width: 100%;
		min-height: 100%;
		object-fit: cover;
		object-position: center;
	}
	section > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		padding: 1rem;
	}
	h1,
	h2 {
    font-size: calc(5vmin + 3vmax);
    text-align: center;
    color: #FFFFFF;
    margin-top: 300px;
	}
	p {
    text-align: right;
    width: 100%;
    font-size: calc(1.5vmin + 1.75vmax);
    margin-bottom: 365px;
    color: #FFFFFF;
	}
	a {
		color: transparent;
		-webkit-text-stroke: 2px #212121;
		text-decoration: none;
    font-weight: 900;
    letter-spacing: 2px;
	}
	a:hover, a:focus {	
		-webkit-text-stroke: 1px #999;
	}

/*menu*/
body
{
  margin: 0;
  padding: 0;
  color: #232323;	
}

a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

a:hover
{
  color: #55008d;
  font-weight: 600;
}

#menuToggle1
{
  display: block;
  position: fixed;
  top: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle1 input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: 85vw;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
  -webkit-touch-callout: none;
}
#menuToggle1 span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  left: 85vw;
  background: #FFFFFF;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle1 span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle1 span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle1 input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

#menuToggle1 input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle1 input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu2
{
  position: absolute;
  width: 100vw;
  height: 110vh;
  margin: -100px 0 0 0px;
  padding: 50px;
  padding-top: 400px;
  text-align:center;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(0, -100%);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu2 li
{
  padding: 10px 0;
  font-size: 30px;
  
}

#menuToggle1 input:checked ~ ul
{
  transform: none;
}
}
@media screen and (min-width: 768px) {
*,*:before,*:after {box-sizing:inherit;margin:0; padding:0; border:0 none; position: relative;}

	html {
	background: #000;
	box-sizing:border-box;
	font-size: 1rem;
	color: #000;
}


	body > article {
		display: flex;
		flex-wrap: wrap;
	}
	figure {
		background: #eee;
		width: calc( 50% + 1px);
		height: 100vh;
		position: sticky;
		top: 0;
		overflow: hidden;
		box-shadow: 4px -4px 8px rgba(0,0,0,.4);
			}
	figure::after {
		content: '';
		position: absolute;
		top: 5vmin;
		right: 5vmin;
		bottom: 5vmin;
		left: 45%;

			}
	figure:nth-of-type(2n)::after {
		right: 45%;
		left: 5vmin;
	}
	section {
		background: #2D2151;
		width: calc(50% + 1px);
		height: 100vh;
		margin: 0 0 10vh auto;
		position: sticky;
		top: 0;
		overflow: hidden;
		padding: 5vmin;
		box-shadow: -4px -4px 8px rgba(0,0,0,.4);
			}
	figure:nth-of-type(1),
	section:nth-of-type(1) {
		margin: 0 0 10vh 0;
		width: 50%;
			}
	figure:nth-of-type(2n) {
		margin: 0 0 10vh auto;
		box-shadow: -4px -4px 8px rgba(0,0,0,.4);
			}
	section:nth-of-type(2n) {
		margin: 0 auto 10vh 0;
		box-shadow: 4px -4px 8px rgba(0,0,0,.4);
		}
	figure:last-of-type,
	section:last-of-type {
		margin-bottom: 0;
	}
	section::before {
		background: inherit;
		z-index: 1;
		content: '';
		position: absolute;
		top: 50%;
		left:0;
		width: 7vmin;
		height: 7vmin;
		transform: translate(calc(-50% + 1px), -50%) rotate(-45deg);
		clip-path: polygon(-15% -15%, 110% 0%, 0% 110%);
		box-shadow: -4px -2px 8px rgba(0,0,0,.4);
		border-radius: 1.5vmin 0 0 0;
	}
	section:nth-of-type(2n)::before {
		left:auto;
		right: 0;
		transform: translate(calc(50% - 1px), -50%) rotate(-45deg) scale(-1);
	}
	section::after {
		content: '';
		position: absolute;
		top: 5vmin;
		right: 45%;
		bottom: 5vmin;
		left: 5vmin;
	}
	section:nth-of-type(2n):after {
		right: 5vmin;
		left: 45%;
	}
	figure img {
		min-width: 100%;
		min-height: 100%;
		object-fit: cover;
		object-position: center;
	}
	section > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		padding: 1rem;
	}
	h1,
	h2 {
    font-size: calc(5vmin + 3vmax);
    text-align: center;
    color: #FFFFFF;
    margin-top: 300px;
	}
	p {
    text-align: right;
    width: 100%;
    font-size: calc(1.5vmin + 1.75vmax);
    margin-bottom: 365px;
    color: #FFFFFF;
	}
	a {
		color: transparent;
		-webkit-text-stroke: 2px #212121;
		text-decoration: none;
    font-weight: 900;
    letter-spacing: 2px;
	}
	a:hover, a:focus {	
		-webkit-text-stroke: 1px #999;
	}

/*menu*/
body
{
  margin: 0;
  padding: 0;
  color: #232323;	
}

a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

a:hover
{
  color: #55008d;
  font-weight: 600;
}

#menuToggle1
{
  display: block;
  position: fixed;
  top: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle1 input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: 90vw;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
  -webkit-touch-callout: none;
}
#menuToggle1 span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  left: 90vw;
  background: #FFFFFF;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle1 span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle1 span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle1 input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

#menuToggle1 input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle1 input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu2
{
    position: absolute;
    width: 100vw;
    height: 110vh;
    margin: -100px 0 0 0px;
    padding: 50px;
    padding-top: 430px;
    text-align: center;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(0, -100%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu2 li
{
  padding: 10px 0;
  font-size: 35px;
  
}

#menuToggle1 input:checked ~ ul
{
  transform: none;
}
}
@media screen and (min-width: 1200px) {
*,*:before,*:after {box-sizing:inherit;margin:0; padding:0; border:0 none; position: relative;}

	html {
	background: #000;
	box-sizing:border-box;
	font-size: 1rem;
	color: #000;
	}


	body > article {
		display: flex;
		flex-wrap: wrap;
	}
	figure {
		background: #eee;
		width: calc( 50% + 1px);
		height: 100vh;
		position: sticky;
		top: 0;
		overflow: hidden;
		box-shadow: 4px -4px 8px rgba(0,0,0,.4);
			}
	figure::after {
		content: '';
		position: absolute;
		top: 5vmin;
		right: 5vmin;
		bottom: 5vmin;
		left: 45%;

			}
	figure:nth-of-type(2n)::after {
		right: 45%;
		left: 5vmin;
	}
	section {
		background: #2D2151;
		width: calc(50% + 1px);
		height: 100vh;
		margin: 0 0 10vh auto;
		position: sticky;
		top: 0;
		overflow: hidden;
		padding: 5vmin;
		box-shadow: -4px -4px 8px rgba(0,0,0,.4);
			}
	figure:nth-of-type(1),
	section:nth-of-type(1) {
		margin: 0 0 10vh 0;
		width: 50%;
			}
	figure:nth-of-type(2n) {
		margin: 0 0 10vh auto;
		box-shadow: -4px -4px 8px rgba(0,0,0,.4);
			}
	section:nth-of-type(2n) {
		margin: 0 auto 10vh 0;
		box-shadow: 4px -4px 8px rgba(0,0,0,.4);
		}
	figure:last-of-type,
	section:last-of-type {
		margin-bottom: 0;
	}
	section::before {
		background: inherit;
		z-index: 1;
		content: '';
		position: absolute;
		top: 50%;
		left:0;
		width: 7vmin;
		height: 7vmin;
		transform: translate(calc(-50% + 1px), -50%) rotate(-45deg);
		clip-path: polygon(-15% -15%, 110% 0%, 0% 110%);
		box-shadow: -4px -2px 8px rgba(0,0,0,.4);
		border-radius: 1.5vmin 0 0 0;
	}
	section:nth-of-type(2n)::before {
		left:auto;
		right: 0;
		transform: translate(calc(50% - 1px), -50%) rotate(-45deg) scale(-1);
	}
	section::after {
		content: '';
		position: absolute;
		top: 5vmin;
		right: 45%;
		bottom: 5vmin;
		left: 5vmin;
	}
	section:nth-of-type(2n):after {
		right: 5vmin;
		left: 45%;
	}
	figure img {
		min-width: 100%;
		min-height: 100%;
		object-fit: cover;
		object-position: center;
	}
	section > div {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		padding: 1rem;
	}
	h1,h2 {
		margin: 15% 0 auto;
		font-size: calc(5vmin + 3vmax);
		text-align: center;	
		word-spacing: 1.5rem;
		color: #FFFFFF;
        }
	p {
    text-align: right;
    width: 100%;
    margin-bottom: 500px;
    color: #FFFFFF;
	}
	a {
    color: transparent;
    -webkit-text-stroke: 2px #212121;
    text-decoration: none;
    letter-spacing: 2px;
	}
	a:hover, a:focus {	
		-webkit-text-stroke: 1px #999;
	}

/*menu*/
body
{
  margin: 0;
  padding: 0;
  color: #232323;	
}

a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

a:hover
{
  color: #55008d;
}

#menuToggle1
{
  display: block;
  position: fixed;
  top: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle1 input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: 95vw;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
  -webkit-touch-callout: none;
}
#menuToggle1 span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  left: 95vw;
  background: #FFFFFF;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle1 span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle1 span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle1 input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

#menuToggle1 input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle1 input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu2
{
    position: absolute;
    width: 100vw;
    height: 110vh;
    margin: -100px 0 0 0px;
    padding: 50px;
    padding-top: 400px;
    text-align: center;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(0, -100%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu2 li
{
  padding: 10px 0;
  font-size: 30px;
  
}

#menuToggle1 input:checked ~ ul
{
  transform: none;
}
}